Library/
Logs/
Packages/
UserSettings/
Temp/

.Library/
.Logs/
.Packages/
.UserSettings/
.Temp/

*.csproj
Assembly-CSharp.csproj
.vsconfig
.vs/COMP-376-Project/FileContentIndex/06694628-ff2e-4ddd-8cd1-80cc388e95a4.vsidx
.vs/COMP-376-Project/FileContentIndex/4698a43e-dad0-45e7-9365-73cbc81da0f5.vsidx
.vs/COMP-376-Project/FileContentIndex/4698a43e-dad0-45e7-9365-73cbc81da0f5.vsidx
.vs/COMP-376-Project/FileContentIndex/7c50d849-bc60-46ab-9e05-fb0cc2ff84e0.vsidx
.vs/COMP-376-Project/FileContentIndex/4698a43e-dad0-45e7-9365-73cbc81da0f5.vsidx
.vs/COMP-376-Project/FileContentIndex/82a014a5-e263-443a-9d39-671667e541f9.vsidx
.vs/COMP-376-Project/FileContentIndex/a4b95ce5-7dd1-4924-af78-f10f023da395.vsidx
.vs/COMP-376-Project/v17/.suo
